header {
  text-align: left; 
}

h1 {
  display: inline-block;
  margin-top: 2em;
  margin-left: 2em;
  font-family: Roboto;
  font-size: 40px;
  
}

p{
  font-family: Roboto;
  margin-left: 80px;
  margin-top:-30px;

}

nav {
  display: inline-block;
  margin-left: 1000px;
  font-family: Roboto;
  font-size: 20px;
  word-spacing: 10px;
     
}

a:hover {
  text-decoration-style: none;
}



    
body {
  background-color:#e9775d;
  margin-left: 20px;
}


 
  img {
    width:43%;
    margin-left: 70px;
    margin-top: 50px;
    border-radius: 5%;
   }

  #spiders{
    font-size: 35px;
    width: 40%;
    text-align:left;
    margin-left: 840px;
    margin-top: -350px;
    font-family: Roboto;
    font-style: italic;

  }



  