
 /* Extra small devices (phones, 600px and down) */

.kirsty-brewin {
  float: none;
  margin-top: -3%;
  margin-left: -632;
  font-family: Roboto;
  font-size: 40px;
      }   


.navClass {
  float: none;
  display: inline-block;
  margin-left: 1000px;
  margin-top: 5%;
  font-family: Roboto;
  font-size: 25px;
  word-spacing: 10px;
        text-decoration: none;
        
                  
        }
  .journey {
  float: none;
  font-family: Roboto;
  margin-left: 390px;
  margin-top: -2%;
      }       
      
  .codeimage {
  width:35%;
  max-width:100%;height:auto;
  margin-left: 500px;
  margin-top: 80px;
  border-radius: 5%;
                  }
   #spiders{
  font-size: 25px;
  width: 30%;
  text-align:center;
  margin-left: 550px;
  margin-top: 40px;
  font-family: Roboto;
  font-style: italic;

    }

      
.coretitle {
  margin-top: 3em;
  margin-left: 200px;
  font-family: Roboto;
  font-size: 40px;
        
      }

h1 {
 font-family: Roboto;
 text-align: center;
 font-size: 40px;
}

body {
 background-color:#e9775d;
 margin-left: 20px;
}

.margin-pic {
  width:500%;
  height: 500%;
  margin-left: 500px;
  margin-top: 50px;
  border-radius: 5%;
  
   }

   .box-intro {
    font-family: Roboto;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 10px;
    height: 80px;
    max-width: 700px ;
    text-align: left;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    
  }

  .margin {
    font-family: Roboto;
    font-size: 20px;
    margin-left: 470px;
    height:180px;
    max-width: 720px;
    text-align:left;
    overflow-wrap: break-word;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
   
    
    }


    .margin-pic {
      background-color: white;
      width:43%;
      margin-left: 640px;
      margin-top: 20px;
      border-radius: 5%;
      width: 25%;
      border: solid black ;
      
    }
    
    li {
      display:inline;
      text-decoration: coral;
      padding: 3%;
      align-items: center;
      color: white;
    }
    
    .box-pic {
      width:55%;
      margin-left: 615px;
      margin-top: 20px;
      border-radius: 5%;
      width: 25%;
      border: solid black ;
    }
    
    .padding {
    font-family: Roboto;
    font-size: 20px;
    margin-left: 480px;
    height:180px;
    max-width: 720px;
    text-align:left;
    overflow-wrap: break-word;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    
    }
    
    .padding-pic {
      background-color: white;
      width:43%;
      margin-left: 640px;
      margin-top: 20px;
      border-radius: 5%;
      width: 25%;
      border: solid black ;
    }
    
    .border  {
   font-family: Roboto;
    font-size: 20px;
    margin-left: 480px;
    margin-top: 20px;
    height:150px;
    max-width: 720px;
    text-align:left;
    overflow-wrap: break-word;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    }
    
    .border-pic-1 {
      background-color: white;
      width:43%;
      margin-left: 640px;
      margin-top: 20px;
      border-radius: 5%;
      width: 25%;
      border: solid black ;
    }
    
    .border-pic-2 {
      background-color: white;
      width:45%;
      margin-left: 640px;
      margin-top: 20px;
      border-radius: 5%;
      width: 25%;
      border: solid black ;
    }
 
.who {
 font-family: Roboto;
 font-size: 20px;
 margin-left: 550px;
 margin-top: -310px;
 height: 80px;
 max-width: 600px ;
 text-align: justify;
 overflow-wrap: break-word;
 
 
}

.child-img {
 width:10%;
 align-items: center;
 margin-left:300px ;
 margin-top: 10px;
 border-radius: 5%;
 border: solid black ;
}

.identity {
  font-family: Roboto;
  font-size: 20px;
  margin-left: 550px;
  margin-top:-30px;
  height: 80px;
  max-width: 600px ;
  text-align: justify;
  overflow-wrap: break-word;
}


.strengths  {
font-family: Roboto;
font-size: 20px;
margin-left: 550px;
margin-top: -20px;
height:150px;
max-width: 600px;
text-align:justify;
overflow-wrap: break-word;


}


.bloglinks {
  background-color: white;
  font-family: Roboto;
  font-size: 30px;
  color: black;
  text-decoration: none;
  margin-left: 600px;
  margin-top: 20px;
  height:60px;
  max-width: 400px;
  text-align:center;
  
  
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.1%;
  border: solid black;
  
  }

  .learning1 {
font-family: Roboto;
 font-size: 20px;
 margin-left: 550px;
 margin-top: -310px;
 height: 80px;
 max-width: 600px ;
 text-align: left;
 overflow-wrap: break-word;
  }

.careergoals {
font-family: Roboto;
font-size: 20px;
margin-left: 550px;
margin-top: -20px;
height:150px;
max-width: 600px;
text-align:left;
overflow-wrap: break-word;
text-align: justify;
padding-bottom: 5%;
}

.limitations {
font-family: Roboto;
font-size: 20px;
margin-left: 550px;
margin-top: -20px;
height:150px;
max-width: 600px;
text-align:left;
overflow-wrap: break-word;
text-align: justify;
padding-bottom: 5%;

}


.core {
  font-family: Roboto;
  font-size: 20px;
  margin-left: 550px;
  margin-top: -20px;
  height:150px;
  max-width: 600px;
  text-align:left;
  overflow-wrap: break-word;
  text-align: justify;
  padding-bottom: 5%;
}

.workload {
  font-family: Roboto;
  font-size: 20px;
  margin-left: 550px;
  margin-top: -20px;
  height:150px;
  max-width: 600px;
  text-align:left;
  overflow-wrap: break-word;
  text-align: justify;
  padding-bottom: 5%;

}

.expectations {
  font-family: Roboto;
  font-size: 20px;
  margin-left: 550px;
  margin-top: -20px;
  height:150px;
  max-width: 600px;
  text-align:left;
  overflow-wrap: break-word;
  text-align: justify;
  padding-bottom: 5%;

}



@media (max-width: 320px) {
  .kirsty-brewin {margin-left: 80px; margin-top: 80px;}
}

@media (max-width: 320px) {
  .navClass {margin-left: 120px; margin-top: 80px;}
}

@media (max-width: 320px) {
.journey {margin-left: 120px; margin-top:-25px;}
}

@media (max-width: 320px) {
.codeimage {display: none;}
}

@media (max-width: 320px) {
  #spiders {margin-left: 120px; font-size: 20px;}
}

@media (max-width: 768px) {
  .kirsty-brewin {margin-left: -30px; margin-top: 80px;}
}

@media (max-width: 768px) {
  .navClass {margin-left: 280px; margin-top: 80px;}
}

@media (max-width: 768px) {
.journey {margin-left: 200px; margin-top:-25px;}
}

@media (max-width: 768px) {
.codeimage {display: none;}
}

@media (max-width: 768px) {
  #spiders {margin-left: 240px; font-size: 20px;}
}

@media (max-width: 1250px) {
  .kirsty-brewin {margin-left: -700px; margin-top: 10px;}
}

@media (max-width: 1250px) {
  .navClass {margin-left: 880px; margin-top: 80px;}
}

@media (max-width: 1250px) {
.journey {margin-left: 150px; margin-top:-25px;}
}

@media (max-width: 1250px) {
.codeimage {margin-left: 200px ;}
}

@media (max-width: 1250px) {
  #spiders {margin-left: 710px; margin-top: -200px; font-size: 20px;}
}