header {
  text-align: left; 
}

h1 {
  display: inline-block;
  margin-top: 2em;
  margin-left: 2em;
  font-family: Roboto;
  font-size: 40px;
  
}


body {
  background-color:#e9775d;
  margin-left: 20px;
}


nav {
  display: inline-block;
  margin-left: 1000px;
  font-family: Roboto;
  font-size: 20px;
  word-spacing: 10px;
     
}

a:hover { text-decoration: none; }